@model Equipe

@{
    //alteramos o nome/título da página
    ViewData["Title"] = "Equipes";
}
<div class="titulo_da_pagina">
    <h1>Cadastro de @ViewData["Title"]</h1>
</div>

@*definimos o método para enviar as informações --- depois, qual a ação a ser tomada. Chamamos o método definido no Controller*@
<form class="cadastro" method= "POST" action='@Url.Action("Cadastrar")' enctype="multipart/form-data">

    <div class="campo">
        <label>ID</label>
        @*na função do name é fazer com que o Controller associe os sets, dessa forma, devemos inserir as mesmas informações do objeto instaciado*@
        <input type = "text" name = "IdEquipe" />
    </div>

    <div class="campo">
        <label>Nome</label>
        <input type = "text" name = "Nome" />   
    </div>
   
    <div class="campo">
        <label>Imagem</label>
        <input type = "file" name = "Imagem" />
    </div>

    <button class = "gradient btn" type = "submit">Cadastrar</button>

</form>

<table class = "table table-striped table-responsive">

    @*Divisão de colunas da tabela com o cabeçalho*@
    <thead>
        <th>ID</th>
        <th>Nome</th>
        <th>Foto</th>
    </thead>

    @*Corpo da tabela*@
    <tbody>
        @foreach (Equipe equipeListar in ViewBag.Equipes)
        {
            <tr>@*Linhas da tabela*@
                <td>@equipeListar.IdEquipe</td>@*Especificação de colunas da tabela*@
                <td>@equipeListar.Nome</td>
                <td><img src="/img/Eqquipes/@equipeListar.Imagem" alt = "Imagem da equipe @equipeListar.Nome" width="40"></td>
                <td><a asp-asp-area= "Link para exclusão de Equipe" asp-controller="Equipe" asp-action="Excluir" asp-route-id = "@equipeListar.IdEquipe">Excluir</a></td>
            </tr>
        }
    </tbody>
</table>